<f:layout name="Default"/>

<f:section name="main">

    <f:if condition="{events}">
        <f:render section="Events" arguments="{_all}"/>
    </f:if>
    <f:if condition="{subEvents}">
        <f:render section="SubEvents" arguments="{_all}"/>
    </f:if>


</f:section>

<f:section name="Events">

    <table class="table table-striped table-hover align-middle">

        <f:for each="{events}" as="event">
            <f:if condition="{event.is_public}">
                <tr>
                    <td>{event.name.de}</td>
                    <td>{event.date_from -> f:format.date(format:'d.m.Y')}</td>
                    <td><a class="btn btn-primary" target="_blank" href="{event.public_url}">Zur Buchung</a></td>
                </tr>
            </f:if>

        </f:for>

    </table>



</f:section>

<f:section name="SubEvents">

    <ul class="list-group">

        <f:for each="{subEvents}" as="subEvent" iteration="iteration">

            <f:if condition="{subEvent.is_public}">
                <li class="list-group-item{f:if(condition:iteration.isEven,then:' list-group-item-secondary')}">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-2 mb-md-0"><b>{subEvent.name.de}</b></div>
                        <div class="col-12 col-md-3 mb-3 mb-md-0"><span style="white-space: nowrap"><i class="t3b-icon-calendar-alt"></i> {subEvent.date_from -> f:format.date(format:'d.m.Y')}</span>&nbsp;&nbsp;&nbsp;<span style="white-space: nowrap"><i class="t3b-icon-clock"></i> {subEvent.date_from -> f:format.date(format:'H:i')}</span></div>
                        <div class="col-12 col-md-3"><a class="btn btn-primary" target="_blank" href="{event.publicUrl}{subEvent.id}/">Zur Buchung</a></div>
                    </div>
                </li>

            </f:if>

        </f:for>
    </ul>

</f:section>
